/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 30px;

  color: #777;

  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

.header {
  height: 95vh;
/* TODO: descripcion blank id:12
- <https://github.com/kaied96/imdone/issues/9>
Ed Ochoa
kaied96o@gmail.com

*/

  background-image:
    linear-gradient(
      to right bottom,
      rgba(126, 213, 111, .8),
      rgba(40, 180, 133, .8)
      ),
    url('../img/hero.jpg');
  background-position: top;
  background-size: cover;
/* DONE: Sintax: polygon function id:10
Por si acaso.
- <https://github.com/kaied96/imdone/issues/6>
Ed Ochoa
kaied96o@gmail.com
*/

  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}
